################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.suo
bin
obj
*.ffs_db

Setup/Support/

\packages
.vs/

Lbl\.Test/Lbl\.Test\.csproj\.user

Orm\.Tests/Orm\.Tests\.csproj\.user
