<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport"/>
                </binding>
                <binding name="LoginCmsSoapBinding1"/>
                <binding name="ServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="ServiceSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding" contract="AfipAutenticacion.LoginCMS" name="LoginCms"/>
            <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AfipFe.ServiceSoap" name="ServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
